<div class="game-container">
  <div class="flag-display">
    <app-flag></app-flag>
  </div>

  <form class="guess-form" (ngSubmit)="submitGuess()">
    <div class="input-container">
      <input 
        type="text" 
        [(ngModel)]="playerGuess" 
        name="guess"
        placeholder="Enter country name..."
        class="guess-input"
        autocomplete="off"
        required
      >
    </div>
    
    <div class="button-container">
      <button type="submit" class="button">Submit Guess</button>
      <button type="button" class="button" (click)="skipFlag()">Skip</button>
    </div>
  </form>
</div>
