:root {
  /* Primary Colors */
  --primary-color: #658834;
  --primary-color-dark: #4e692c;
  --primary-color-light: #749b3d;
  --primary-color-btn-light: #9fd553;

  /* Text Colors */
  --text-dark: #202b11;
  --text-light: #ffffff;

  /* Background Colors */
  --bg-color-wht: #ffffff;
  --bg-color-secondary: #dadada;

  /* Border Colors */
  --border-color: #e0e0e0;

  /* Shadow */
  --box-shadow: -8px 8px 9px 0px rgba(0, 0, 0, 0.415);
  --box-shadow-nav: 0px 7px 7px 0px rgba(0, 0, 0, 0.415);
  --box-shadow-btn: 2px 3px 2px 0px rgba(0, 0, 0, 0.415);
}