:root {
  /* Primary Colors */
  --primary-color: #7cc133;
  --primary-color-dark: #659e28;
  --primary-color-light: rgb(165, 221, 86);
  --primary-color-btn: #7cc133;
  --primary-color-btn-light: #9fd553;
  --secondary-color: #3344c1;
  --secondary-color-dark: #202a7a;
  --secondary-color-light: #4459fb;

  /* Text Colors */
  --text-dark: #202b11;
  --text-light: #ffffff;

  /* Background Colors */
  --bg-color-wht: #ffffff;
  --bg-color-secondary: #e9e9e9;

  /* Border Colors */
  --border-color: #e0e0e0;

  /* Shadow */
  --box-shadow: -8px 8px 9px 0px rgba(0, 0, 0, 0.415);
  --box-shadow-nav: 0px 7px 7px 0px rgba(0, 0, 0, 0.415);
  --box-shadow-sml: 0px 2px 8px 0px rgba(0, 0, 0, 0.415);
  --box-shadow-btn: 2px 3px 2px 0px rgba(0, 0, 0, 0.415);
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}