
<div class="settings-container">
  <h2>Game Settings</h2>
  
  <div class="settings-form">
    <div class="setting-group-audio">
      <h3>Audio</h3>
      <label class="switch">
        <input checked="" type="checkbox" class="toggle"  [checked]="!soundService.isMuted()" 
      (change)="soundService.toggleMute()" (click)="soundService.playClick()">
        <span class="slider"></span>
        <span class="card-side"></span>
      </label>
    </div>

    <div class="setting-group">
      <h3>Number of Questions</h3>
      <p>*10 or more questions to be eligible for the leaderboard.</p>
      <div class="radio-input">
        <label *ngFor="let option of questionOptions">
          <input 
            type="radio" 
            [id]="'q' + option" 
            name="questionCount" 
            [value]="option" 
            [(ngModel)]="selectedQuestions"
          (click)="soundService.playClick()"/>
          <span>{{ option }}</span>
        </label>
        <span class="selection"></span>
      </div>
    </div>
    <div class="mobile-select">
      <div class="setting-group">
        <h3>Select Continent</h3>
        <select [(ngModel)]="selectedContinent" class="continent-select" >
          <option *ngFor="let continent of continents" [value]="continent" (click)="soundService.playClick()">
            {{continent}}
          </option>
        </select>
      </div>
    </div>

    <div class="desktop-select">
      <div class="setting-group">
        <h3>Select a Continent</h3>
        <h3> {{ selectedContinent }}</h3>
        <div class="menu" (click)="soundService.playClick()">
          <a (click)="selectContinent('All Continents')" class="link" [class.selected]="selectedContinent === 'All Continents'">
            <span class="link-icon">
              <img 
                src="assets/continent-icons/all.svg" 
                width="50" 
                height="50" 
                alt="All continents icon"
              />
            </span>
            <span class="link-title">All</span>
          </a>
          <a (click)="selectContinent('Africa')" class="link" [class.selected]="selectedContinent === 'Africa'">
            <span class="link-icon">
              <img 
                src="assets/continent-icons/africa.svg" 
                width="40" 
                height="40" 
                alt="All continents icon"
              />
            </span>
            <span class="link-title">Africa</span>
          </a>
          <a (click)="selectContinent('Asia')" class="link" [class.selected]="selectedContinent === 'Asia'">
            <span class="link-icon">
              <img 
                src="assets/continent-icons/asia.svg" 
                width="45" 
                height="45" 
                alt="All continents icon"
              />
            </span>
            <span class="link-title">Asia</span>
          </a>
          <a (click)="selectContinent('North America')" class="link" [class.selected]="selectedContinent === 'North America'">
            <span class="link-icon">
            <img 
                src="assets/continent-icons/na.svg" 
                width="45" 
                height="45" 
                alt="All continents icon"
              />
            </span>
            <span class="link-title">N.A.</span>
          </a>
          <a (click)="selectContinent('South America')" class="link" [class.selected]="selectedContinent === 'South America'">
            <span class="link-icon">
              <img 
                src="assets/continent-icons/sa.svg" 
                width="45" 
                height="40" 
                alt="All continents icon"
              />
            </span>
            <span class="link-title">S.A.</span>
          </a>
          <a (click)="selectContinent('Europe')" class="link" [class.selected]="selectedContinent === 'Europe'">
            <span class="link-icon">
              <img 
                src="assets/continent-icons/eu.svg" 
                width="45" 
                height="40" 
                alt="All continents icon"
              />
            </span>
            <span class="link-title">E.U.</span>
          </a>
          <a (click)="selectContinent('Oceania')" class="link" [class.selected]="selectedContinent === 'Oceania'">
            <span class="link-icon">
              <img 
                src="assets/continent-icons/oceania.svg" 
                width="45" 
                height="40" 
                alt="All continents icon"
              />
            </span>
            <span class="link-title">Oceania</span>
          </a>
        </div>
      </div>
    </div>

    <button (click)="soundService.playClick(); startGame()"  class="button" (click)="soundService.playClick()">Start Game</button>
    <button (click)="soundService.playClick();"  class="button" (click)="soundService.playClick()" [disabled]="true">Start Multiple Choice Game (Coming Soon)</button>
  </div>
</div>